<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <!-- Topbar Navbar -->
    <nav class="navbar navbar-expand topbar mb-4 static-top" style="background-color:#FFF; border-bottom:solid 1px #d7d9de">
        <div class="container-fluid">
            <a class="navbar-brand display-6" href="/">MENU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family: 'NanumSquareNeoExtraBold'; color:#FFF;">
                    <li class="nav-item dropdown" style="position:relative;">
                        <a class="nav-link dropdown-toggle display-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            위치 및 밀집도
                        </a>
                        <ul id="menu1" class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content;position:absolute;">
                            <li><a class="dropdown-item" href="/current-location">현재 위치에서의 밀집도</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/situations/0">실시간 밀집도 및 통계</a></li>
                            <ul style="list-style-type: square;">
                                <li><a class="dropdown-item" href="/density-check">무선 통신 기반 밀집도</a></li>
                                <li><a class="dropdown-item" href="/camera-location">비전 기반 실시간 위치 추정</a></li>
                            </ul>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" style="position:relative;">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            제보
                        </a>
                        <ul id="menu2" class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content; position:absolute;">
                            <li><a class="dropdown-item" href="/report">제보하기</a></li>
                            <li><a class="dropdown-item" href="/report-board">제보 게시판</a></li>
                        </ul>
                    </li>
                    <!--                            <li class="nav-item dropdown">-->
                    <!--                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                    <!--                                    이웃-->
                    <!--                                </a>-->
                    <!--                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--                                    <li><a class="dropdown-item" href="#">Action</a></li>-->
                    <!--                                    <li><a class="dropdown-item" href="#">Another action</a></li>-->
                    <!--                                    <li><hr class="dropdown-divider"></li>-->
                    <!--                                    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                    <!--                                </ul>-->
                    <!--                            </li>-->
                    <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')" style="position:relative;">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            찾기
                        </a>
                        <ul id="menu3" class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content;position:absolute;">
                            <li><a class="dropdown-item" href="/user-find">사용자 찾기</a></li>
                            <li><a class="dropdown-item" href="/specific-area-user-find">특정 구역 사용자 찾기</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-none d-lg-inline" style="text-align:center;font-size:1rem;">
                    <a>팀 네카라쿠배</a>
                </ul>
                <ul id="menu4" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown no-arrow mx-1" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/user-management" role="button">
                            <i class="bi bi-person-fill-gear"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" href="/neighbor" role="button">
                            <i class="bi bi-person-fill"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow mx-1" sec:authorize="isAuthenticated()" style="position:relative;">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span id="count" class="badge badge-danger badge-counter"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown" id="notify" style="position:absolute;">
                            <h4 class="dropdown-header">
                                알림
                            </h4>
                            <div id="zeroNotify" style="text-align:center; padding:10%;"></div>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow" >
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-sm-inline text-gray-600 small userName">user</span>
                            <img class="img-profile rounded-circle"
                                 src="img/undraw_profile.svg"/>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown" sec:authorize="isAuthenticated()">
                            <a class="dropdown-item" href="/">
                                <i class="bi-house-door-fill fa-fw mr-2 text-gray-400"></i>
                                메인페이지
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/setting">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                설정
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그아웃
                            </a>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown" sec:authorize="isAnonymous()">
                            <a class="dropdown-item" href="/">
                                <i class="bi-house-door-fill fa-fw mr-2 text-gray-400"></i>
                                메인페이지
                            </a>
                            <a class="dropdown-item" href="/customLogin">
                                <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                로그인
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

</html>