<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="warning" id="warningToast">
    <!--    <div class="toast-header" style="background-color:#4e73df;border:0;color:white;">-->
    <!--      <strong class="me-auto">알림</strong>-->
    <!--      <div style="padding-left:12em;">-->
    <!--        <small id="time"></small>-->
    <!--        <button class="btn" data-bs-dismiss="toast" aria-label="Close" style="background-color:transparent;color:rgba(255,255,255,0.5);outline:0;">-->
    <!--          <span aria-hidden="true">&times;</span>-->
    <!--        </button>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="toast-body" style="background-color:white;">-->
    <!--      Hello, world! This is a toast message.-->
    <!--    </div>-->
    <!--  </div>-->
</div>


</html>