<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="icon" href="img/favicon.png">

    <title>현재 위치에서의 밀집도</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;700&family=Orbit&display=swap');
        body{
            font-family: 'NanumSquareNeoExtraBold';
            overflow: hidden;
        }
        img {
            width:100%;
        }
        .map{
            margin:0 auto;
        }
        body {
            margin: 0;
        }
        #wrapper {
            width: 100vw;
            height: 100vh;
        }
        .location{
            font-size:3vw;
            margin-top:2%;
            background-color:#FFF;
            border-radius:10%;
            padding:5%;
        }
        .location-div{
            margin-left:auto;
            margin-right:auto;
        }
        .position{
            font-size:4vw;
        }
        #building-text{
            font-size:4.5vw;
        }
        #secondFloor{
            margin-right:5vw;
        }
        #img_div{
            padding:0;
        }
        .people-img{
            width:15%;
        }
        @media screen and (min-width:576px){
            .position{
                font-size:4vw;
            }
            .location {
                font-size:2.3vw;
            }
            #building-text{
                font-size:4vw;
            }
        }
        @media screen and (min-width:768px){
            .position{
                font-size:2.7vw;
            }
            .location {
                font-size:2vw;
                margin-left:auto;
                margin-right:auto;
            }
            #building-text{
                font-size:3vw;
            }

        }
        @media screen and (min-width:992px){
            #building-text{
                font-size:3vw;
            }
            .position{
                font-size:2.2vw;
            }
            .location {
                font-size:1.7vw;
            }

            .location-div{
                float:left;
                margin-left:5vw;
            }
            #img_div{
                float:left;
            }
            .table-div{
                margin-top:10%;
            }


            /*.container-fluid{*/
            /*    margin-left:1.7vw;*/
            /*}*/
        }

        @media screen and (min-width:1200px){
            #building-text{
                font-size:2.5vw;
            }
            .position{
                font-size:2vw;
            }

            .location {
                font-size:1.5vw;
            }



        }

        @media screen and (min-width:1800px){
            #building-text{
                font-size:2.5vw;
            }

        }
    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!--  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="font-family: 'NanumSquareNeo';background-color:#1f2c54">-->

    <!--    &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
    <!--    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">-->
    <!--      <div>MENU</div>-->
    <!--    </a>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider my-0">-->

    <!--    &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/current-location.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>현재 위치에서의 밀집도</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/density-check.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>실시간 밀집도 및 통계 확인</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/building.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>건물 정보 및 대피로</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/camera-location.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>카메라</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider my-0">-->

    <!--    &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/report.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>제보하기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/report-board.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>제보 게시판</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/neighbor.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>이웃</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/user-find.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>사용자 찾기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/specific-area-user-find.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>특정 구역 사용자 찾기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item" sec:authorize="isAuthenticated()">-->
    <!--      <a class="nav-link" href="/user-management.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>회원 관리</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    &lt;!&ndash; Sidebar Toggler (Sidebar) &ndash;&gt;-->
    <!--    <div class="text-center d-none d-md-inline">-->
    <!--      <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
    <!--    </div>-->
    <!--  </ul>-->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <!--      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

            <!-- Sidebar Toggle (Topbar) -->


            <header th:replace="fragments/header::header"></header>
            <!--        <ul class="navbar-nav ml-auto">-->

            <!--          &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow d-sm-none">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <i class="fas fa-search fa-fw"></i>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
            <!--            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="searchDropdown">-->
            <!--              <form class="form-inline mr-auto w-100 navbar-search">-->
            <!--                <div class="input-group">-->
            <!--                  <input type="text" class="form-control bg-light border-0 small"-->
            <!--                         placeholder="Search for..." aria-label="Search"-->
            <!--                         aria-describedby="basic-addon2">-->
            <!--                  <div class="input-group-append">-->
            <!--                    <button class="btn btn-primary" type="button">-->
            <!--                      <i class="fas fa-search fa-sm"></i>-->
            <!--                    </button>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </form>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--          &lt;!&ndash; Nav Item - Alerts &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow mx-1">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <i class="fas fa-bell fa-fw"></i>-->
            <!--              &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
            <!--              <span class="badge badge-danger badge-counter">3+</span>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
            <!--            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="alertsDropdown">-->
            <!--              <h4 class="dropdown-header">-->
            <!--                알림-->
            <!--              </h4>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/05 13:49:07</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/05 11:23:45</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/02 21:34:11</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item text-center small text-gray-500" href="#">알림 펼치기</a>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--          &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <span class="mr-2 d-none d-lg-inline text-gray-600 small userName">user</span>-->
            <!--              <img class="img-profile rounded-circle"-->
            <!--                   src="img/undraw_profile.svg"/>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
            <!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="userDropdown" sec:authorize="isAuthenticated()">-->
            <!--              <a class="dropdown-item" href="setting.html">-->
            <!--                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                설정-->
            <!--              </a>-->
            <!--              <div class="dropdown-divider"></div>-->
            <!--              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
            <!--                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                로그아웃-->
            <!--              </a>-->
            <!--            </div>-->
            <!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="userDropdown" sec:authorize="isAnonymous()">-->
            <!--              <a class="dropdown-item" href="login.html">-->
            <!--                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                로그인-->
            <!--              </a>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--        </ul>-->

            <!--      </nav>-->
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid" >
                <!-- Page Heading -->
                <div>
                    <h1 id="building-text" class="h3 mb-4 text-gray-800" style="text-align:center">현재 위치에서의 밀집도</h1>
                </div>
                <div id="img_div" class="col-lg-6 col-md-8" style="position:relative;margin-left:auto;margin-right:auto;">
                    <img id="secondFloor" src="img/2floor.png" usemap="#image-map" onfocus="this.blur();">
                    <map name="image-map">
                        <area target="_self" alt="0,0" title="A0" coords="181,43,65,160" shape="rect" onfocus="blur();">
                        <area target="_self" alt="0,1" title="A1" coords="181,160,298,43" shape="rect" onfocus="blur();">
                        <area target="_self" alt="0,2" title="A2" coords="298,43,416,160" shape="rect" onfocus="blur()">
                        <area target="_self" alt="0,3" title="A3" coords="416,43,571,160" shape="rect" onfocus="blur()">
                        <area target="_self" alt="1,0" title="B0" coords="64,160,181,277" shape="rect" onfocus="blur()">
                        <area target="_self" alt="1,1" title="B1" coords="181,159,181,278,219,278,218,197,298,197,298,160,181,160" shape="poly" onfocus="blur()">
                        <area target="_self" alt="1,2" title="B2" coords="298,160,416,197" shape="rect" onfocus="blur()">
                        <area target="_self" alt="1,3" title="B3" coords="416,161,571,277" shape="rect" onfocus="blur()">
                        <area target="_self" alt="2,0" title="C0" coords="64,278,181,395" shape="rect" onfocus="blur()">
                        <area target="_self" alt="2,1" title="C1" coords="181,278,219,394" shape="rect" onfocus="blur()">
                        <area target="_self" alt="2,2" title="C2" coords="" shape="rect" onfocus="blur()">
                        <area target="_self" alt="2,3" title="C3" coords="416,277,571,394" shape="rect" onfocus="blur()">
                        <area target="_self" alt="3,0" title="D0" coords="64,395,181,511" shape="rect" onfocus="blur()">
                        <area target="_self" alt="3,1" title="D1" coords="181,395,219,511" shape="rect" onfocus="blur()">
                        <area target="_self" alt="3,2" title="D2" coords="" shape="rect" onfocus="blur()">
                        <area target="_self" alt="3,3" title="D3" coords="416,395,571,511" shape="rect" onfocus="blur()">
                        <area target="_self" alt="4,0" title="E0" coords="64,511,181,628" shape="rect" onfocus="blur()">
                        <area target="_self" alt="4,1" title="E1" coords="219,560,219,512,182,511,182,628,298,628,298,560,269,560" shape="poly" onfocus="blur()">
                        <area target="_self" alt="4,2" title="E2" coords="298,560,416,628" shape="rect" onfocus="blur()">
                        <area target="_self" alt="4,3" title="E3" coords="416,511,571,628" shape="rect" onfocus="blur()">
                        <area target="_self" alt="5,0" title="F0" coords="64,629,181,710" shape="rect" onfocus="blur()">
                        <area target="_self" alt="5,1" title="F1" coords="181,628,298,710" shape="rect" onfocus="blur()">
                        <area target="_self" alt="5,2" title="F2" coords="298,628,416,710" shape="rect" onfocus="blur()">
                        <area target="_self" alt="5,3" title="F3" coords="416,628,571,710" shape="rect" onfocus="blur()">
                    </map>
                    <div class="position">
                        <p style="position:absolute;top:11%; left:4%;">A</p>
                        <p style="position:absolute;top:27%; left:4%;">B</p>
                        <p style="position:absolute;top:43%; left:4%;">C</p>
                        <p style="position:absolute;top:60%; left:4%;">D</p>
                        <p style="position:absolute;top:75%; left:4%;">E</p>
                        <p style="position:absolute;top:90%; left:4%;">F</p>
                        <p style="position:absolute;top:1%; left:19%;">0</p>
                        <p style="position:absolute;top:1%; left:38%;">1</p>
                        <p style="position:absolute;top:1%; left:57%;">2</p>
                        <p style="position:absolute;top:1%; left:76%;">3</p>
                    </div>
                </div>
                <div class="location-div col-lg-5 col-md-10">
                    <div class="col-md-10 col-lg-12 location" style="text-align:center;margin-left:auto;margin-right:auto;">
                        <p>현재 위치 : 2층 6202 강의실</p>
                        <p>기록 시간 : </p>
                        <p>현재 위치에서의 밀집도 등급 : 안전</p>
                    </div>
                    <div class="table-div">
                        <table class="table col-md-10 col-lg-12" style="color:#595959;margin-left: auto; margin-right: auto; text-align:center; background-color:#FFF; margin-top:20px;">
                            <thead>
                            <tr class="table-active">
                                <th scope="col" colspan="2">현재 위치에 함께 있는 사용자들</th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

                <!--                    <div id="container" class="row justify-content-center">-->
                <!--                        &lt;!&ndash;                            <video autoplay="true" id="videoElement">&ndash;&gt;-->

                <!--                        &lt;!&ndash;                            </video>&ndash;&gt;-->
                <!--                        <iframe src="http://127.0.0.1:5000" id="videoElement" allowfullscreen> </iframe>-->
                <!--                    </div>-->
                <!--                    <div class="row justify-content-center">-->
                <!--                        <script>-->
                <!--                            var j = 0;-->
                <!--                            var arr = new Array(2);-->

                <!--                            for (var i = 0; i < arr.length; i++) {-->
                <!--                                arr[i] = new Array(2).fill(0);-->
                <!--                            }-->
                <!--                            setInterval(-->
                <!--                                function () {-->
                <!--                                    $.ajax({-->
                <!--                                        type: "GET",-->
                <!--                                        url: "http://localhost:8080/getLocationsEach",-->
                <!--                                        dataType: "json",-->
                <!--                                        success: function(data) {-->
                <!--                                            str = '<TR>';-->
                <!--                                            arr = new Array(2);-->

                <!--                                            for (var i = 0; i < arr.length; i++) {-->
                <!--                                                arr[i] = new Array(2).fill(0);-->
                <!--                                            }-->
                <!--                                            $('#coordinate_info > tbody > tr').each(function () {-->
                <!--                                                $(this).find('td').eq(2).html(0);-->
                <!--                                                $(this).find('td').eq(3).html("");-->
                <!--                                            });-->
                <!--                                            $.each(data , function(i) {-->
                <!--                                                str += '<TD>' + data[i].address + '</TD>' +-->
                <!--                                                    '<TD>' + data[i].distance + '</TD>' +-->
                <!--                                                    '<TD>' + data[i].x + '</TD>' +-->
                <!--                                                    '<TD>' + data[i].y + '</TD>';-->
                <!--                                                str+= '</TR>';-->

                <!--                                                var loc = data[i].x * 2 + data[i].y;-->
                <!--                                                $('#coordinate_info tbody').find('tr').eq(loc).find('td').eq(2).html(++arr[data[i].x][data[i].y]);-->
                <!--                                                $('#coordinate_info tbody').find('tr').eq(loc).find('td').eq(3).append(data[i].address + "<br>");-->
                <!--                                            });-->
                <!--                                            $('.table_body').html(str);-->
                <!--                                        },-->
                <!--                                        error: function(XMLHttpRequest, textStatus, errorThrown){-->
                <!--                                            alert("통신 실패")-->
                <!--                                        }-->
                <!--                                    })-->
                <!--                                },1000);-->
                <!--                        </script>-->
                <!--                        <table class="table table-striped">-->
                <!--                            <thead>-->
                <!--                            <tr>-->
                <!--                                <td>Address</td>-->
                <!--                                <td>Distance</td>-->
                <!--                                <td>x</td>-->
                <!--                                <td>y</td>-->
                <!--                            </tr>-->
                <!--                            </thead>-->
                <!--                            <tbody class="table_body">-->
                <!--                            </tbody>-->
                <!--                        </table>-->
                <!--                        <table class="table table-striped" id="coordinate_info">-->
                <!--                            <thead>-->
                <!--                            <tr>-->
                <!--                                <td>x</td>-->
                <!--                                <td>y</td>-->
                <!--                                <td>Count</td>-->
                <!--                                <td>Addresses</td>-->
                <!--                            </tr>-->
                <!--                            </thead>-->
                <!--                            <tbody class="table_body2">-->
                <!--                            <tr>-->
                <!--                                <td>0</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td></td>-->
                <!--                            </tr>-->
                <!--                            <tr>-->
                <!--                                <td>0</td>-->
                <!--                                <td>1</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td></td>-->
                <!--                            </tr>-->
                <!--                            <tr>-->
                <!--                                <td>1</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td></td>-->
                <!--                            </tr>-->
                <!--                            <tr>-->
                <!--                                <td>1</td>-->
                <!--                                <td>1</td>-->
                <!--                                <td>0</td>-->
                <!--                                <td></td>-->
                <!--                            </tr>-->
                <!--                            </tbody>-->
                <!--                        </table>-->
                <!--                    </div>-->
                <!--                    <div style="position:relative;">-->
                <!--                        <div id="popup" style="background-color:white;position:relative;opacity:0;border:2px solid black;padding:5px 12px;z-index: 1;width:15%;"-->
                <!--                             onmouseover="showPopup();" onmouseout="hidePopup();">-->
                <!--                            <a id="popup_addr" href="#" style="text-decoration:none;color:black;" target="_blank">-->
                <!--                                <p id="popup_title" style="margin:0;padding:0;font-size:15px;line-height:20px;text-align:center;">test</p>-->
                <!--                                <p id="popup_description" style="margin:0;padding:0;font-size:12px;line-height:12px;text-align:center;">test</p>-->
                <!--                            </a>-->
                <!--                        </div>-->
                <!--                        &lt;!&ndash; Image Map Generated by http://www.image-map.net/ &ndash;&gt;-->
                <!--                        <img class="map" src="img/2floor.png" usemap="#image-map">-->
                <!--                        <map name="image-map">-->
                <!--                            <area target="_self" alt="00" title="00" href="#" coords="62,395,297,43" shape="rect" onmouseover="changePopupText(0, 0, 'http://gachiofficial.com/shop/item.php?it_id=HG9STS20WH', 50, 50);" onmouseout="hidePopup();">-->
                <!--                            <area target="_self" alt="01" title="01" href="#" coords="558,395,299,45" shape="rect" onmouseover="changePopupText(0, 1, 'http://gachiofficial.com/shop/item.php?it_id=HG9STS20WH', 50, 50);" onmouseout="hidePopup();">-->
                <!--                            <area target="_self" alt="10" title="10" href="#" coords="62,394,298,709" shape="rect" onmouseover="changePopupText(1, 0, 'http://gachiofficial.com/shop/item.php?it_id=HG9STS20WH', 50, 50);" onmouseout="hidePopup();">-->
                <!--                            <area target="_self" alt="11" title="11" href="#" coords="298,394,562,707" shape="rect" onmouseover="changePopupText(1, 1, 'http://gachiofficial.com/shop/item.php?it_id=HG9STS20WH', 50, 50);" onmouseout="hidePopup();">-->
                <!--                        </map>-->

                <!--                        <script>-->
                <!--                            function changePopupText(locx, locy, addr, x, y) {-->
                <!--                                document.getElementById('popup_title').innerHTML = "(" + locx.toString() + "," + locy.toString() + ")";-->
                <!--                                document.getElementById('popup_description').innerHTML = "실시간 인원 수: " + arr[locx][locy];-->
                <!--                                document.getElementById('popup_addr').href = addr;-->

                <!--                                document.getElementById('popup').style.left = x + "px";-->
                <!--                                document.getElementById('popup').style.top = y + "px";-->
                <!--                                document.getElementById('popup').style.opacity = 1;-->
                <!--                            }-->

                <!--                            // 마우스오버 상자 숨기기-->
                <!--                            function hidePopup() {-->
                <!--                                document.getElementById('popup').style.opacity = 0;-->
                <!--                            }-->

                <!--                            // 마우스오버 상자 보이기-->
                <!--                            function showPopup() {-->
                <!--                                document.getElementById('popup').style.opacity = 1;-->
                <!--                            }-->
                <!--                        </script>-->
                <!--                    </div>-->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer th:replace="fragments/footer::footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary btn-sm" href="login.html">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!--&lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--<script src="vendor/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script src="js/demo/chart-area-demo.js"></script>-->
<!--<script src="js/demo/chart-pie-demo.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
<script src="vendor/jquery/jquery.imageMapResizer.min.js"></script>
<script src="vendor/jquery/jquery.maphilight.min.js"></script>

<th:block th:replace="fragments/script::script"></th:block>
<script>
    var resizeEvt;

    (function($) {
        // $(document).on('ready.usemaps', function(){
        //     $('img[usemap]').rwdImageMaps();
        //     $('img[usemap]').maphilight();
        //     $('[data-toggle="tooltip"]').tooltip();
        //     $('map').imageMapResize();
        // });

        $(window).on('resize.usemaps', function(){
            clearTimeout(resizeEvt);
            resizeEvt = setTimeout(function(){
                $('img[usemap]').maphilight();
                //$('[data-toggle="tooltip"]').tooltip();
                $('map').imageMapResize();
            }, 200);
        });

    })(jQuery);
</script>
<script type="text/javascript">
    $(function(){
        $('img[usemap]').rwdImageMaps();
        $('img[usemap]').maphilight();
        //$('[data-toggle="tooltip"]').tooltip();
        $('map').imageMapResize();
    });
</script>

<script type="text/javascript">
    $.fn.maphilight.defaults = {
        fill: true,
        fillColor: '4e73df',
        fillOpacity: 0,
        stroke: true,
        strokeColor: '4e73df',
        strokeOpacity: 0,
        strokeWidth: 1
    }
</script>
<script type="text/javascript">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
    var interval = setInterval(
        function () {
            $.ajax({
                type: "POST",
                url: "/find",
                dataType: "json",
                data: {
                    email: null
                },
                success: function (data) {
                    if (data.address !== null) {
                        var loc="";
                        var arr={};
                        $('.location').children().eq(0).text("현재 위치 : " + String.fromCharCode(data.x + 65) + ", " + data.y);
                        $('.location').children().eq(1).text("기록 시간 : " + dateFormat(data.modifiedDate));
                        $('.location').children().eq(2).text("현재 위치에서의 밀집도 등급 : " + data.grade);
                        loc = data.x + "," + data.y;
                        arr.fillOpacity=0.2;
                        if(data.grade == "고위험") {
                            arr.fillColor = "ff0000";
                            arr.strokeColor = "ff0000";

                        }else if(data.grade == "위험") {
                            arr.fillColor = "FFFF00";
                            arr.strokeColor = "FFFF00";

                        }else if(data.grade == "주의") {
                            arr.fillColor = "008000";
                            arr.strokeColor = "008000";

                        }else {
                            arr.fillColor = "808080";
                            arr.strokeColor = "808080";
                        }
                        arr.stroke=true;
                        arr.strokeOpacity = 1;
                        arr.alwaysOn = true;
                        $('area[alt="' + loc + '"]').data('maphilight', arr).trigger('alwaysOn.maphilight');
                        $('img[usemap]').maphilight();
                    }
                    else {
                        clearInterval(interval);
                        Swal.fire({
                            icon: 'question',
                            title: '소유 장비 없음',
                            html: "해당 이메일 정보를 가진 라즈베리파이가 존재하지 않습니다.<br>무선 통신 기반 밀집도 페이지로 이동합니다.",
                            allowOnClickOutside : false
                        }).then(function(){
                            window.location.href = "/density-check";
                        })
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: '통신 실패',
                        text: '통신에 실패하였습니다.',
                        allowOnClickOutside: false
                    }).then(function () {
                        window.location.href = "/logout";
                    });
                }
            });
            $.ajax({
                type: "GET",
                url: "/findUsers",
                dataType: "json",
                success: function (data) {
                    str = '';
                    $.each(data , function(i) {
                        var imgsrc;
                        if(data[i].picture === null) {
                            imgsrc = "img/undraw_profile.svg";
                        }
                        else {
                            imgsrc = data[i].picture;
                        }
                        str += '<TR>' +
                            '<TD style=\"width=50%\"><img class="rounded-circle people-img" src="'+imgsrc+'"/></TD>' +
                            '<TD style=\"width=50%\">' + data[i].name + '</TD>';
                        str += '</TR>';
                    });
                    $('.tbody').html(str);
                    $(".tbody").reset();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    Swal.fire({
                        icon: 'error',
                        title: '통신 실패',
                        text: '통신에 실패하였습니다.',
                        allowOnClickOutside: false
                    }).then(function () {
                        window.location.href = "/logout";
                    });
                }
            });
        }, 1000);
</script>


</body>

</html>