<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
    <link rel="icon" href="img/favicon.png">

    <title>현재 위치에서의 밀집도</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;700&family=Orbit&display=swap');
        body{
            font-family: 'NanumSquareNeoExtraBold'
        }
        body {
            margin: 0;

        }
        #wrapper {
            width: 100vw;
            height: 100vh;
        }
        img {
            width: 100%;
        }
        .position{
            font-size:1.3vw;
            font-weight:200;
            color:#1f345c;
            background-color:#FFF;
            border:solid 2px #20293A;
            border-radius: 30%;
            padding:1%;
        }
        #building{
            font-size: 1.2vw;
        }
        #excel{
            width:22vw;
        }
        #table-text{
            font-size:1.3vw;
        }

        @media screen and (min-width:576px){
            .position{
                font-size:1.4vw;
            }
            #excel{
                width:10vw;
            }
        }
        @media screen and (min-width:768px){
            #excel{
                width:10vw;
            }
            #building{
                font-size: 1.3vw;
            }
            #table-text{
                font-size:1.4vw;
            }
            .position{
                font-size:1.5vw;
            }
        }
        @media screen and (min-width:992px){

        }
        @media screen and (min-width:1200px){
            #table-text{
                font-size:1.3vw;
            }
            .table{
                font-size:1.2vw;
            }
            #excel{
                width:9vw;
            }
        }

        @media screen and (min-width:1800px){

        }


    </style>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!--  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="font-family: 'NanumSquareNeo';background-color:#1f2c54">-->

    <!--    &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
    <!--    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">-->
    <!--      <div>MENU</div>-->
    <!--    </a>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider my-0">-->

    <!--    &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/current-location.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>현재 위치에서의 밀집도</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/density-check.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>실시간 밀집도 및 통계 확인</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/building.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>건물 정보 및 대피로</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/camera-location.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>카메라</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider my-0">-->

    <!--    &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/report.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>제보하기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/report-board.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>제보 게시판</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/neighbor.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>이웃</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/user-find.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>사용자 찾기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item">-->
    <!--      <a class="nav-link" href="/specific-area-user-find.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>특정 구역 사용자 찾기</span></a>-->
    <!--    </li>-->

    <!--    <li class="nav-item" sec:authorize="isAuthenticated()">-->
    <!--      <a class="nav-link" href="/user-management.html">-->
    <!--        <i class="bi bi-caret-right"></i>-->
    <!--        <span>회원 관리</span></a>-->
    <!--    </li>-->

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider">-->

    <!--    &lt;!&ndash; Sidebar Toggler (Sidebar) &ndash;&gt;-->
    <!--    <div class="text-center d-none d-md-inline">-->
    <!--      <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
    <!--    </div>-->
    <!--  </ul>-->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <!--      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

            <!-- Sidebar Toggle (Topbar) -->


            <!-- Topbar Navbar -->
            <header th:replace="fragments/header::header"></header>
            <!--            <nav class="navbar navbar-expand topbar mb-4 static-top" style="border-bottom:solid 1px #d7d9de; margin-bottom:10px;">-->
            <!--                <div class="container-fluid">-->
            <!--                    <a class="navbar-brand" href="/" >MENU</a>-->
            <!--                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--                        <span class="navbar-toggler-icon"></span>-->
            <!--                    </button>-->
            <!--                    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">-->
            <!--                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family: 'NanumSquareNeoExtraBold'; color:#FFF; font-size:18px;">-->
            <!--                            <li class="nav-item dropdown">-->
            <!--                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >-->
            <!--                                    위치 및 밀집도-->
            <!--                                </a>-->
            <!--                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content">-->
            <!--                                    <li><a class="dropdown-item" href="/current-location" style="font-size:14px;">현재 위치에서의 밀집도</a></li>-->
            <!--                                    <li><hr class="dropdown-divider"></li>-->
            <!--                                    <li><a class="dropdown-item" href="/situation">실시간 밀집도 및 통계</a></li>-->
            <!--                                    <ul style="list-style-type: square;">-->
            <!--                                        <li><a class="dropdown-item" href="/density-check">무선 통신 기반 밀집도</a></li>-->
            <!--                                        <li><a class="dropdown-item" href="/camera-location">비전 기반 밀집도</a></li>-->
            <!--                                    </ul>-->
            <!--                                </ul>-->
            <!--                            </li>-->
            <!--                            <li class="nav-item dropdown">-->
            <!--                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
            <!--                                    제보-->
            <!--                                </a>-->
            <!--                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content">-->
            <!--                                    <li><a class="dropdown-item" href="/report">제보하기</a></li>-->
            <!--                                    <li><a class="dropdown-item" href="/report-board">제보 게시판</a></li>-->
            <!--                                </ul>-->
            <!--                            </li>-->
            <!--                            &lt;!&ndash;                            <li class="nav-item dropdown">&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                    이웃&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                </a>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                    <li><a class="dropdown-item" href="#">Action</a></li>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                    <li><a class="dropdown-item" href="#">Another action</a></li>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                    <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                    <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                                </ul>&ndash;&gt;-->
            <!--                            &lt;!&ndash;                            </li>&ndash;&gt;-->
            <!--                            <li class="nav-item dropdown">-->
            <!--                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
            <!--                                    찾기-->
            <!--                                </a>-->
            <!--                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: max-content">-->
            <!--                                    <li><a class="dropdown-item" href="/user-find">사용자 찾기</a></li>-->
            <!--                                    <li><a class="dropdown-item" href="/specific-area-user-find">특정 구역 사용자 찾기</a></li>-->
            <!--                                </ul>-->
            <!--                            </li>-->
            <!--                        </ul>-->
            <!--                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="text-align:center">-->
            <!--                            <a>팀 네카라쿠배</a>-->
            <!--                        </ul>-->
            <!--                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
            <!--                            <li class="nav-item mx-1" style="padding-top:20px; font-size:24px">-->
            <!--                                <a href="/user-management"><i class="bi bi-person-fill-gear"></i></a>-->
            <!--                            </li>-->
            <!--                            <li class="nav-item mx-1" style="padding-top:20px; font-size:24px">-->
            <!--                                <a href="/neighbor"><i class="bi bi-person-fill"></i></a>-->
            <!--                            </li>-->
            <!--                            <li class="nav-item dropdown no-arrow mx-1">-->
            <!--                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
            <!--                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                                    <i class="fas fa-bell fa-fw"></i>-->
            <!--                                    &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
            <!--                                    <span class="badge badge-danger badge-counter">3+</span>-->
            <!--                                </a>-->
            <!--                                &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
            <!--                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                                     aria-labelledby="alertsDropdown">-->
            <!--                                    <h4 class="dropdown-header">-->
            <!--                                        알림-->
            <!--                                    </h4>-->
            <!--&lt;!&ndash;                                    <a class="dropdown-item d-flex align-items-center" href="#">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div class="mr-3">&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="icon-circle bg-warning">&ndash;&gt;-->
            <!--&lt;!&ndash;                                                <i class="fas fa-exclamation-triangle text-white"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="small text-gray-500">23/07/05 13:49:07</div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            제보게시판에 새로운 제보가 등록되었습니다.&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a class="dropdown-item d-flex align-items-center" href="#">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div class="mr-3">&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="icon-circle bg-warning">&ndash;&gt;-->
            <!--&lt;!&ndash;                                                <i class="fas fa-exclamation-triangle text-white"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="small text-gray-500">23/07/05 11:23:45</div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            제보게시판에 새로운 제보가 등록되었습니다.&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a class="dropdown-item d-flex align-items-center" href="#">&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div class="mr-3">&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="icon-circle bg-warning">&ndash;&gt;-->
            <!--&lt;!&ndash;                                                <i class="fas fa-exclamation-triangle text-white"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            <div class="small text-gray-500">23/07/02 21:34:11</div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                            제보게시판에 새로운 제보가 등록되었습니다.&ndash;&gt;-->
            <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
            <!--&lt;!&ndash;                                    <a class="dropdown-item text-center small text-gray-500" href="#">알림 펼치기</a>&ndash;&gt;-->
            <!--                                </div>-->
            <!--                            </li>-->

            <!--                            &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
            <!--                            <li class="nav-item dropdown no-arrow" >-->
            <!--                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"-->
            <!--                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small userName">user</span>-->
            <!--                                    <img class="img-profile rounded-circle"-->
            <!--                                         src="img/undraw_profile.svg"/>-->
            <!--                                </a>-->
            <!--                                &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
            <!--                                <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                                     aria-labelledby="userDropdown" sec:authorize="isAuthenticated()">-->
            <!--                                    <a class="dropdown-item" href="/setting">-->
            <!--                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                                        설정-->
            <!--                                    </a>-->
            <!--                                    <div class="dropdown-divider"></div>-->
            <!--                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
            <!--                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                                        로그아웃-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                                <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                                     aria-labelledby="userDropdown" sec:authorize="isAnonymous()">-->
            <!--                                    <a class="dropdown-item" href="login.html">-->
            <!--                                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                                        로그인-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                            </li>-->
            <!--                        </ul>-->

            <!--                    </div>-->
            <!--                </div>-->
            <!--            </nav>-->
            <!--        <ul class="navbar-nav ml-auto">-->

            <!--          &lt;!&ndash; Nav Item - Search Dropdown (Visible Only XS) &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow d-sm-none">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <i class="fas fa-search fa-fw"></i>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - Messages &ndash;&gt;-->
            <!--            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="searchDropdown">-->
            <!--              <form class="form-inline mr-auto w-100 navbar-search">-->
            <!--                <div class="input-group">-->
            <!--                  <input type="text" class="form-control bg-light border-0 small"-->
            <!--                         placeholder="Search for..." aria-label="Search"-->
            <!--                         aria-describedby="basic-addon2">-->
            <!--                  <div class="input-group-append">-->
            <!--                    <button class="btn btn-primary" type="button">-->
            <!--                      <i class="fas fa-search fa-sm"></i>-->
            <!--                    </button>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </form>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--          &lt;!&ndash; Nav Item - Alerts &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow mx-1">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <i class="fas fa-bell fa-fw"></i>-->
            <!--              &lt;!&ndash; Counter - Alerts &ndash;&gt;-->
            <!--              <span class="badge badge-danger badge-counter">3+</span>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - Alerts &ndash;&gt;-->
            <!--            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="alertsDropdown">-->
            <!--              <h4 class="dropdown-header">-->
            <!--                알림-->
            <!--              </h4>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/05 13:49:07</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/05 11:23:45</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item d-flex align-items-center" href="#">-->
            <!--                <div class="mr-3">-->
            <!--                  <div class="icon-circle bg-warning">-->
            <!--                    <i class="fas fa-exclamation-triangle text-white"></i>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--                <div>-->
            <!--                  <div class="small text-gray-500">23/07/02 21:34:11</div>-->
            <!--                  제보게시판에 새로운 제보가 등록되었습니다.-->
            <!--                </div>-->
            <!--              </a>-->
            <!--              <a class="dropdown-item text-center small text-gray-500" href="#">알림 펼치기</a>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--          &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
            <!--          <li class="nav-item dropdown no-arrow">-->
            <!--            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"-->
            <!--               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--              <span class="mr-2 d-none d-lg-inline text-gray-600 small userName">user</span>-->
            <!--              <img class="img-profile rounded-circle"-->
            <!--                   src="img/undraw_profile.svg"/>-->
            <!--            </a>-->
            <!--            &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
            <!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="userDropdown" sec:authorize="isAuthenticated()">-->
            <!--              <a class="dropdown-item" href="setting.html">-->
            <!--                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                설정-->
            <!--              </a>-->
            <!--              <div class="dropdown-divider"></div>-->
            <!--              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
            <!--                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                로그아웃-->
            <!--              </a>-->
            <!--            </div>-->
            <!--            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"-->
            <!--                 aria-labelledby="userDropdown" sec:authorize="isAnonymous()">-->
            <!--              <a class="dropdown-item" href="login.html">-->
            <!--                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
            <!--                로그인-->
            <!--              </a>-->
            <!--            </div>-->
            <!--          </li>-->

            <!--        </ul>-->

            <!--      </nav>-->
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div id="divClock" class="clock" style="color: #1f345c; text-align:right; font-size:70%; margin-top:3px;">
                </div>
                <hr class="col-sm-12" style="border: solid 1px #1f345c;margin-bottom:2rem;"/>
                <div class="col-sm-6" id="img_div" style="position:relative; float:left;">
                    <!-- Image Map Generated by http://www.image-map.net/ -->
                    <div style="position:relative;">
                        <img class="map" src="img/2floor.png" usemap="#image-map" id="secondFloor" style="">
                        <map name="image-map">
                            <area target="_self" alt="0" title="0" href="#" coords="65,43,299,44,298,197,219,197,219,394,65,395" shape="poly" onclick="location.href='/situations/0';">
                            <area target="_self" alt="1" title="1" href="#" coords="299,44,299,197,415,197,415,394,571,394,571,44" shape="poly" onclick="location.href='/situations/1';">
                            <area target="_self" alt="2" title="2" href="#" coords="65,395,219,395,220,559,299,560,298,710,65,709" shape="poly" onclick="location.href='/situations/2';">
                            <area target="_self" alt="3" title="3" href="#" coords="298,560,416,560,415,395,571,394,574,709,298,710" shape="poly" onclick="location.href='/situations/3';">
                        </map>
                        <div>
                            <p class="position" style="position:absolute;left:20%;top:30%;">가</p>
                            <p class="position" style="position:absolute;left:76%;top:30%;">나</p>
                            <p class="position" style="position:absolute;left:20%;top:70%;">다</p>
                            <p class="position" style="position:absolute;left:76%;top:70%;">라</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="float:left">
                    <div class="section-table" style="float:left; background-color: white;">
                        <p id="table-text" style="color:#595959; text-align:center">각 구역별 총 인원과 밀집도 등급</p>
                        <div id="building" style="width:100%; overflow:auto;">
                            <table class="table" style="border-style:hidden;border-radius:5%;rgb(255,255,255,0.1);color:#595959;text-align:center;" id="coordinate_info">
                                <thead>
                                <tr class="table-active">
                                    <th scope="col">위치</th>
                                    <th scope="col">무선 신호 기반 인원 수</th>
                                    <th scope="col">비전 기반 인원 수</th>
                                    <th scope="col">밀집도 등급</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>가</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>나</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>다</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>라</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr class="table-active">
                                    <th>총 인원</th>
                                    <th>237명</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                    <script>
                        var j = 0;
                        var arr = new Array(4);

                        setInterval(
                            function () {
                                $.ajax({
                                    type: "GET",
                                    url: "/situations",
                                    dataType: "json",
                                    success: function(data) {
                                        str = '';
                                        sumPi = 0;
                                        sumCamera = 0;

                                        // $('#coordinate_info tbody').find('tr[class="table-active"]').find('th').eq(1).html(data.length.toString() + "명");
                                        $.each(data , function(i) {
                                            sumPi += data[i].pi;
                                            sumCamera += data[i].camera
                                            arr[data[i].loc] = data[i].pi + data[i].camera;
                                            let map={};

                                            let grade = null;
                                            if (arr[data[i].loc] > 39) {
                                                grade = "고위험";
                                                map.fillColor = "ff0000";
                                                map.strokeColor = "ff0000";
                                                $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(3).css("color", "#ff0000");

                                            } else if (arr[data[i].loc] > 29) {
                                                grade = "위험";
                                                map.fillColor = "FFFF00";
                                                map.strokeColor = "FFFF00";
                                                $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(3).css("color", "#e3d430");

                                            } else if (arr[data[i].loc] > 14) {
                                                grade = "주의";
                                                map.fillColor = "008000";
                                                map.strokeColor = "008000";
                                                $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(3).css("color", "#008000");

                                            } else {
                                                grade = "안전";
                                                map.fillColor = "808080";
                                                map.strokeColor = "808080";
                                                $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(3).css("color", "#808080");
                                            }

                                            map.alwaysOn = true;
                                            $('area[alt="' + data[i].loc.toString() + '"]').data('maphilight', map).trigger('alwaysOn.maphilight');

                                            $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(1).html(data[i].pi.toString() + "명");
                                            $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(2).html(data[i].camera.toString() + "명");
                                            $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').eq(3).html(grade);
                                            $('#coordinate_info tbody').find('tr').eq(data[i].loc).find('td').css("opacity", 1);
                                        });

                                        $('#coordinate_info tbody').find('tr[class="table-active"]').find('th').eq(1).html(sumPi + "명");
                                        $('#coordinate_info tbody').find('tr[class="table-active"]').find('th').eq(2).html(sumCamera + "명");
                                        $('#coordinate_info tbody').find('tr[class="table-active"]').find('th').eq(3).html(sumPi+sumCamera + "명");

                                        //     str += '<TD>' + data[i].address + '</TD>' +
                                        //         '<TD>' + data[i].distance + '</TD>' +
                                        //         '<TD>' + data[i].x + '</TD>' +
                                        //         '<TD>' + data[i].y + '</TD>';
                                        //     str+= '</TR>';
                                        //
                                        //     var loc = data[i].x * 2 + data[i].y;
                                        //     $('#coordinate_info tbody').find('tr').eq(loc).find('td').eq(2).html(++arr[data[i].x][data[i].y]);
                                        //     $('#coordinate_info tbody').find('tr').eq(loc).find('td').eq(3).append(data[i].address + "<br>");
                                        // });
                                        // $('.table_body').html(str);
                                    },
                                    error: function(XMLHttpRequest, textStatus, errorThrown){
                                        Swal.fire({
                                            icon: 'error',
                                            title: '통신 실패',
                                            text: '통신에 실패하였습니다.',
                                        })
                                    }
                                })
                            }, 1000);
                    </script>

                    <div class="col-xs-12 chart-area" style="float:left;margin-top:15px;background-color:white;padding-bottom:5px;position:relative">
                        <canvas class="" id="myChart" style="width:100%"></canvas>
                        <img id="excel" src="img/excel_btn.png" style="position:absolute;left:74%;top:1.3%;" onclick="location.href='/poiExcel'">
                        <!--                    <div class="column" style="margin-left:auto;margin-right:auto;">-->
                        <!--                        <button type="button" class="btn btn-secondary" style="float:left;">A</button>-->
                        <!--                        <button type="button" class="btn btn-secondary" style="float:left;opacity:0.2;margin-left:15px;">B</button>-->
                        <!--                        <button type="button" class="btn btn-secondary" style="float:left;opacity:0.2;margin-left:15px;">C</button>-->
                        <!--                        <button type="button" class="btn btn-secondary" style="float:left;opacity:0.2;margin-left:15px;">D</button>-->
                        <!--                    </div>-->
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
                    <script th:inline="javascript">
                        var graphData = [[${graphData}]];
                        var cnt = new Array();
                        graphData.situationsDtos.forEach(function(i) {
                            cnt.push(i.cnt);
                        });
                        var locName = new Array('가','나','다','라');
                        //그래프 x축 시간
                        function getCurrentWeek() {
                            var result = new Array();
                            var day = new Date();


                            var hour = day.getHours();
                            var minute = day.getMinutes();


                            if(minute < 30) {
                                for (let i = 1; i < 8; i++) {
                                    hour = hour<0?hour+24:hour;
                                    if(i%2){
                                        result.push(hour%24+":30");
                                    }
                                    else{
                                        result.push(hour%24+":00");
                                        hour -= 1;
                                    }
                                }
                            }

                            else{
                                hour += 1;
                                for (let i = 1; i < 8; i++) {
                                    hour = hour<0?hour+24:hour;
                                    if(i%2){
                                        result.push(hour+":00");
                                        hour -= 1;
                                    }
                                    else{
                                        result.push(hour+":30");
                                    }
                                }
                            }
                            return result;
                        }

                        function predictLater(a,b,c){
                            return (a+b+c)/3;
                        }

                        var dateLabel = getCurrentWeek().reverse();
                        var dataArr = cnt.slice(-6);
                        var dataArr2 = cnt.slice(-6);
                        dataArr2.push(predictLater(dataArr[3], dataArr[4], dataArr[5]));


                        // 차트 데이터
                        var data = {
                            labels: dateLabel,
                            datasets: [{
                                label: '인원 수',
                                type: 'line',
                                data: dataArr,
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 2
                            },{
                                label: '인원 수',
                                type: 'line',
                                data: dataArr2,
                                borderColor: 'rgba(0, 0, 0, 0.2)',
                                borderWidth: 2,
                                borderDash: [5, 5],
                                borderCapStyle: 'round',
                                tooltips: {
                                    enabled: false // 데이터셋 2에서 툴팁 비활성화
                                },
                            }]
                        };

                        // 차트 옵션 (여기서 배경색을 설정합니다.)
                        var options = {
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    min: 0,
                                    suggestedMax: 20,
                                    stepSize: 4
                                }
                            },
                            plugins: {

                                title: {
                                    display: true,
                                    text: '<' + locName[graphData.loc] + '>에서의 인원수'
                                },
                                legend:{
                                    display: false
                                },
                                tooltips:false
                            }
                        };

                        // 차트 생성
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line', // 차트 유형
                            plugins: [{
                                afterLayout: chart => {
                                    let ctx = chart.ctx;
                                    ctx.save();
                                    let yAxis = chart.scales.y;
                                    let xAxis = chart.scales.x;

                                    //기준값을 넣어준다

                                    if(yAxis.getPixelForValue(30) < 0){
                                        ymaxValue = yAxis.top;
                                    }
                                    else{
                                        ymaxValue = yAxis.getPixelForValue(30)-yAxis.top;
                                    }

                                    let gradient = ctx.createLinearGradient(0, yAxis.top, 0, yAxis.bottom);
                                    let xGradient = ctx.createLinearGradient(0, xAxis.left, 0, xAxis.right);

                                    //기준선 넘었을 때 색상은 #dc0e0e (빨간색)
                                    xGradient.addColorStop(0,'#000');

                                    let offset = (1 / (yAxis.bottom - yAxis.top)) * ymaxValue;
                                    let xOffset = (1 / (xAxis.right - xAxis.left));

                                    if(offset > 0){
                                        gradient.addColorStop(0,'#fd7e14');
                                        gradient.addColorStop(offset, '#fd7e14');
                                        gradient.addColorStop(offset, '#4e73df');
                                    }
                                    else{
                                        gradient.addColorStop(0,'#4e73df');
                                        gradient.addColorStop(Math.abs(offset), '#4e73df');
                                    }

                                    xGradient.addColorStop(xOffset, '#000');


                                    //기준값 아래의 색상은 #6fba2c (연두색)
                                    chart.data.datasets[0].borderColor = gradient;

                                    ctx.restore();
                                }
                            }],
                            data: data,
                            options: options // 차트 옵션 설정

                        });
                        var chartCanvas = document.getElementById('myChart');
                        chartCanvas.style.backgroundColor = 'rgba(255, 255, 255, 0.1)';
                    </script>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer::footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">로그아웃 하시겠습니까?</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary btn-sm" href="login.html">로그아웃</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!--&lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--<script src="vendor/chart.js/Chart.min.js"></script>-->

<!--&lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--<script src="js/demo/chart-area-demo.js"></script>-->
<!--<script src="js/demo/chart-pie-demo.js"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
<script src="vendor/jquery/jquery.imageMapResizer.min.js"></script>
<script src="vendor/jquery/jquery.maphilight.min.js"></script>

<th:block th:replace="fragments/script::script"></th:block>
<script>
    var resizeEvt;
    var height;
    var width;
    var height2;

    (function($) {
        //     $(document).on('ready.usemaps', function(){
        //         $('img[usemap]').rwdImageMaps();
        //         // $('img[usemap]').maphilight();
        //         // $('[data-toggle="tooltip"]').tooltip();
        //         $('map').imageMapResize();
        //     });

        $(window).on('resize.usemaps', function(){
            clearTimeout(resizeEvt);
            resizeEvt = setTimeout(function(){
                $('img[usemap]').maphilight();
                // $('[data-toggle="tooltip"]').tooltip();
                $('map').imageMapResize();
                width = $('#myChart').width();
                height = $('#myChart').height();
                height2 = $('#img-div').height();
                $('.chart-area').css("height", height);
                $('#coordinate_info').css("width", width);
                $('#right-div').css("height",height2);

            }, 200);
        });
    })(jQuery);
</script>
<script type="text/javascript">
    $(function(){
        // showDensityLevel();
        $('img[usemap]').rwdImageMaps();
        $('img[usemap]').maphilight();
        // $('[data-toggle="tooltip"]').tooltip();
        $('map').imageMapResize();
    });
</script>
<script>
    var Target = document.getElementById("divClock");
    function clock() {
        var week = new Array('일', '월', '화', '수', '목', '금', '토');
        var time = new Date();
        var year = time.getFullYear();
        var month = time.getMonth()+1;
        var date = time.getDate();
        var day = time.getDay();
        var hours = String(time.getHours()).padStart(2,"0");
        var minutes = String(time.getMinutes()).padStart(2,"0");
        var seconds = String(time.getSeconds()).padStart(2,"0");;
        Target.innerText = year + "년 " + month + "월 " + date + "일 (" + week[day] + ") " + hours + ":" + minutes + ":" + seconds;
    }
    clock();
    setInterval(clock, 1000);
</script>
</body>

</html>